@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
.container{
    padding-left: 120px;
    padding-right: 135px;
}
.cu{
    background-color: rgb(66, 80, 165);
    width: 116px;
    height: 33px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    margin-top: 3px;
    font-family: roboto, sans-serif;
    box-shadow: -2px 3px rgb(190, 190, 190);
    font-size: 15px;
}
.mrgn-nav{
    margin-top: 12px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.nav-flex-logo{
    display: flex;
    margin-right: 18px;
}
.bi-caret-down{
    margin-top: 10px;
}
.clr-hvrpr, .clr-hvrau, .clr-hvrr, .clr-hvrs, .clr-hvrhs{
    font-family: roboto, sans-serif;
}
.clr-hvrau{
    width: 66px;
}
.clr-hvrpr{
    margin-right: 6px;
    font-size: 16px;
}
.arrow-nav{
    margin-top: 8px;
    cursor: pointer;
    transition: 0.2s;
    color: rgb(0, 191, 255);
}
.hvr-navfull:hover .arrow-nav{
    color: red;
    transition: 0.2s;
    transform: rotate(-90deg);
}
.hvr-navfull:hover .arrow-nav{
    color: rgb(0, 0, 255);
    transition: 0.2s;
    transform: rotate(-90deg);
}
.hvr-navfull:hover .clr-bl{
    color: rgb(0, 191, 255);
    transition: 0.2s;
}
.clr-bl{
    transition: 0.2s;
}
.flax-komp{
    display: flex;
}

/* nav kompleks */
.nav-komp-hs, .nav-komp-s, .nav-komp-r, .nav-komp-au{
    display: flex;
    text-align: left;
}

/* HERO */
.hr-pdd-left{
    padding-right: 20px;
}
.hero-left-agency{
    color: rgb(167, 167, 167);
    font-family: sans-serif;
    margin-top: 55px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.hero-left-revenue{
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 46px;
}
.spc-ev{
    display: flex;
    /* justify-content: space-evenly; */
}
.sho{
    font-family: sans-serif;
    color: white;
    background-color: rgb(85, 85, 157);
    height: 43px;
    width: 220px;
    padding-top: 9px;
    margin-right: 5px;
}
.myhe{
    font-family: sans-serif;
    color: white;
    background-color: rgb(72, 188, 255);
    height: 43px;
    width: 220px;
    padding-top: 9px;
}
.hr-img{
    margin-top: -20px;
    height: 450px;
}