@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
a{
    text-decoration: none;
    cursor: pointer;
}
.container{
    padding-left: 120px;
    padding-right: 120px;
}
.cu{
    background-color: rgb(66, 80, 165);
    width: 116px;
    height: 33px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    margin-top: 3px;
    font-family: roboto, sans-serif;
    box-shadow: -2px 3px rgb(190, 190, 190);
    font-size: 15px;
}
.mrgn-nav{
    margin-top: 12px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.nav-flex-logo{
    display: flex;
    margin-right: 18px;
}
.mrgn-rt-pr-nav{
    margin-right: 25px;
}
.bi-caret-down{
    margin-top: 10px;
}
.clr-hvrpr, .clr-hvrau, .clr-hvrr, .clr-hvrs, .clr-hvrhs{
    font-family: roboto, sans-serif;
}
.clr-hvrau{
    width: 66px;
}
.clr-hvrpr{
    margin-right: 6px;
    font-size: 16px;
}
.arrow-nav{
    margin-top: 8px;
    cursor: pointer;
    transition: 0.2s;
    color: rgb(0, 191, 255);
}
.hvr-navfull:hover .arrow-nav{
    color: red;
    transition: 0.2s;
    transform: rotate(-90deg);
}
.hvr-navfull:hover .arrow-nav{
    color: rgb(0, 0, 255);
    transition: 0.2s;
    transform: rotate(-90deg);
}
.hvr-navfull:hover .clr-bl{
    color: rgb(0, 191, 255);
    transition: 0.2s;
}
.clr-bl{
    transition: 0.2s;
}
.lft-hs{
    margin-left: -315px;
}
.nav-komp-hs{
    width: 730px;
}
.nav-komp-hs, .nav-komp-s, .nav-komp-r, .nav-komp-au{
    display: flex;
    text-align: left;
    padding: 20px 25px;
    /* font-family: 'roboto', sans-serif; */
}
.hs-left{
    font-size: 14px;
    color: rgb(255, 149, 0);
}
.hs-center{
    font-size: 14px;
    color: rgb(0, 157, 255);
}
.hs-right{
    font-size: 14px;
    color: rgb(0, 225, 255);
}
.opsi-box-hs{
    display: flex;
    cursor: pointer;
}
.opsi-hs{
    font-size: 15px;
}
.desk-hs{
    font-size: 12px;
}
.circle-hs-left{
    background-color: rgba(255, 220, 164, 0.683);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 5px 15px 0;
}
.clr-logo-hs-left{
    color: rgb(255, 106, 0);
    margin-top: 6px;
    margin-left: 7px;
}
.circle-hs-center{
    background-color: rgba(200, 214, 255, 0.678);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 5px 15px 0;
}
.clr-logo-hs-center{
    color: rgb(40, 40, 255);
    margin-top: 6px;
    margin-left: 7px;
}
.circle-hs-right{
    background-color: rgba(199, 255, 255, 0.645);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 5px 15px 0;
}
.clr-logo-hs-right{
    color: rgb(0, 225, 255);
    margin-top: 6px;
    margin-left: 7px;
}
.hs-box-left, .hs-box-center, .hs-box-right{
    width: 220px;
    margin: 0 10px;
}
.opsi-box-hs:hover .opsi-hs{
    color: rgb(0, 174, 255);
}
.hs-right-bottom{
    margin-top: 10px;
}
.nav-komp-s{
    width: 735px;
}
.lft-s{
    margin-left: -320px;
}
.s-box-left, .s-box-center, .s-box-right{
    width: 220px;
    margin: 0 10px;
}
.s-left{
    font-size: 14px;
    color: rgb(0, 128, 255);
    font-weight: 500;
    margin-bottom: 12px;
}
.s-center{
    font-size: 14px;
    color: rgb(0, 200, 255);
    font-weight: 500;
    margin-bottom: 12px;
}
.s-right{
    font-size: 14px;
    color: rgb(0, 128, 255);
    font-weight: 500;
    margin-bottom: 12px;
}
.opsi-title-s{
    font-size: 15px;
    font-weight: 400;
}
.opsi-desk-s{
    font-size: 13px;
}
.all-s-hvr{
    display: flex;
    color: orange;
    cursor: pointer;
}
.lg-s-all{
    margin-top: 2px;
    margin-left: 5px;
}

.nav-komp-r{
    width: 735px;
}
.lft-r{
    margin-left: -310px;
}
.r-left{
    font-size: 14px;
    color: rgb(0, 200, 0);
    font-weight: 500;
    margin-bottom: 12px;
}
.r-center{
    font-size: 14px;
    color: rgb(0, 0, 161);
    font-weight: 500;
    margin-bottom: 12px;
}
.r-box-left{
    width: 160px;
    margin: 0 10px;
}
.r-box-center{
    width: 270px;
    margin: 0 10px;
}
.r-right-bottom{
    width: 270px;
    padding-top: 28px;
    margin: 0 20px;
}
.opsi-box-r{
    display: flex;
    cursor: pointer;
}
.circle-r-left{
    background-color: rgba(212, 255, 239, 0.683);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 5px 15px 0;
}
.clr-logo-r-left{
    color: rgb(0, 200, 0);
    margin-top: 6px;
    margin-left: 9px;
}
.opsi-text-r{
    width: 200px;
}
.opsi-title-r{
    font-size: 15px;
}
.opsi-desk-r{
    font-size: 11px;
}
.circle-r-center{
    background-color: rgb(233, 233, 255);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 5px 15px 0;
}
.clr-logo-r-center{
    color: rgb(0, 0, 161);
    margin-top: 12px;
    margin-left: 6px;
}
.opsi-box-r-sya{
    color: orange;
    display: flex;
    cursor: pointer;
}
.sya{
    font-size: 12px;
    margin-left: 32px;
}
.mrgn-arrw-r{
    margin-left: 5px;
    margin-top: 10px;
}
.nav-komp-au{
    width: 470px;
}
.au-left{
    font-size: 14px;
    color: rgb(255, 174, 0);
    font-weight: 500;
    margin-bottom: 12px;
}
.au-right{
    font-size: 14px;
    color: rgb(0, 217, 255);
    font-weight: 500;
    margin-bottom: 12px;
}


/* HERO */
.hr-pdd-left{
    padding-right: 20px;
}
.hero-left-agency{
    color: rgb(167, 167, 167);
    font-family: sans-serif;
    margin-top: 55px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.hero-left-revenue{
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 46px;
}
.spc-ev{
    display: flex;
    /* justify-content: space-evenly; */
}
.sho{
    font-family: sans-serif;
    color: white;
    background-color: rgb(85, 85, 157);
    height: 43px;
    width: 220px;
    padding-top: 9px;
    margin-right: 5px;
}
.myhe{
    font-family: sans-serif;
    color: white;
    background-color: rgb(72, 188, 255);
    height: 43px;
    width: 220px;
    padding-top: 9px;
}
.hr-img{
    margin-top: -20px;
    height: 450px;
}

/* Section 1 */
.section1{
    margin-top: 100px;
    margin-bottom: 50px;
}
.title-sect1{
    text-align: center;
    margin: 0 180px;
}
.s1-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.s1-desk-title{
    font-size: 16.5px;
}
.s1-underdesk{
    font-weight: 500;
}
.s1card{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.card{
    padding: 30px 12px 0 15px;
    margin: 10px;
    width: 19rem;
    z-index: 99;
}
.c1{
    height: 24rem;
}
.title-cards1{
    font-size: 19px;
}
.card-text{
    font-size: 15px;
}
.c2{
    height: 22.5rem;
}
.card-shdw1::after{
    top: 5px;
    left: 59.5px;
}
.card-shdw2::after{
    top: 5px;
    left: 383.5px;
}
.card-shdw3::after{
    top: 5px;
    right: 59.5px;
}
.card-shdw4::after{
    bottom: 4px;
    left: 221.5px;
}
.card-shdw5::after{
    bottom: 4px;
    right: 221.5px;
}
.img-card-styles1{
    height: 60px;
}
.LM{
    display: flex;
    justify-content: center;
    color: rgb(233, 151, 0);
    margin-bottom: 15px;
}
.mrgn-arrw-card{
    padding: 11px 5px;
}

/* Section 2 */
.section2{
    margin-bottom: 200px;
    padding-top: 20px;
}
.s2-title{
    font-weight: 700;
    font-size: 35px;
}
.s2-left {
    width: 520px;
}
.s2-right{
    width: 480px;
    margin-left: 60px;
}
.s2-top{
    justify-content: space-evenly;
}
.top-flex1{
    padding-top: 5px;
    width: 230px;
    height: 70px;
    margin: 25px;
}
.top-flex2{
    padding: 7px 5px;
    width: 300px;
    height: 100px;
    margin: 10px;
}
.s2-title-button{
    font-weight: bold;
}
.s2-title-bottom{
    font-size: 23px;
    font-weight: 700;
}
.svg-s2{
    height: 50px;
}
.btn-s2-bottom{
    margin: 20px 15px 0 15px;
    color: white;
    background-color: rgba(18, 93, 150, 1.0);
}
.mrgn-carousel-left{
    margin-left: -40px;
}
.s2-bgclr-carousel{
    background-color: rgb(240, 245, 255);
    padding: 20px;
    width: 400px;
    margin-left: 15px;
}
.s2-img-carousel{
    width: 60px;
    margin: 10px;
}
.s2-title-carousel{
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0 0 3px;
}
.s2-desc-carousel{
    font-size: 12px;
    margin: 7px 0 0 3px;
}

/* section 7 */
.s7-box-top{
    width: 270px;
    height: 240px;
}

.s7-desk-card-top{
    font-size: 17px;
}
.s7-img-card-top2{
    padding: 25px 0 2px;
    width: 260px;
}
.s7-card-img-bottom{
    height: 160px;
    padding: 20px 70px;
}
.s7-desk-card-bottom{
    padding: 0 10px;
    font-size: 17px;
}

/* section 8 */
.s8-left, .s8-right{
    height: 600px;
    width: 450px;
}
.s8-title-top-right{
    font-weight: 700; 
    font-size: 40px;
}
.s8-title-bottom-right{
    font-weight: 500;
}
.s8-desk-bottom-right{
    font-size: 15px;
}

/* section 9 */
.s9-box{
    margin: 170px 20px;
}
.s9-number1, .s9-number2, .s9-number3{
    font-size: 30px;
    font-weight: 700;
}
.s9-text{
    font-weight: 500;
    padding-top: 12px;
}
.s9-number1{
    color: pink;
}
.s9-number2{
    color: rgb(0, 4, 255);
}
.s9-number3{
    color: rgb(255, 182, 80);
}



/* section 11 */
.s11-box{
    width: 680px;
    margin-top: 70px;
}
.s11-title{
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.s11-desk{
    color: white;
    margin-top: 20px;
}
.s11-button{
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding-top: 8px;
}